body {
    background-color: #84a1be;
    font-family: 'Merriweather Sans', sans-serif;
    color: #393e46;
  }
  
  #title {
    font-size: 2.5em;
  }
  
  #description {
    font-size: 1.2em;
    font-style: italic;
  }

  #flash-message {
    color: rgba(178, 34, 34, 0.726);
  }

  #error {
    color: rgba(178, 34, 34, 0.726);
    grid-column: 3;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
    ". . . ."
    ". c c ."
    ". c c ."
    ". . . .";
    grid-template-columns: 0.7fr 1.5fr 1.5fr 0.7fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    justify-items: center;
  }
  
  .title-description {
    grid-column: 2 / 4;
    text-align: center;
  }
  
  #survey-form {
    display: grid;
    grid-area: c;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border-radius: 5%;
    background-color: #f0f3f3;
    align-items: center;
  }

  label {
    grid-row: auto;
    grid-column: 2 / 3;
    text-align: right;
  }
  
  input {
    grid-column: auto;
    text-align: left;
    min-height: 100%;
    transition: all .5s ease-out;
  }
  
  #name:invalid, #email:invalid {
    border-left-color: #f38181;
  }
  
  #name:valid, #email:valid {
    border-left-color: #eaffd0;
  }
  
  input:focus:required:invalid {
    border-color: #f38181;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .options-title {
    grid-column: 2;
    text-align: right;
  }
  
  .gender-options {
    grid-column:  3 / 4;
  }
  
  .checkbox-options {
    grid-column: 3;
  }
  
  #comments-box {
    grid-column: 2 / 4;
    text-align: center;
  }
  
  #comments {
    min-width: 100%;
  }
  
  #comments:hover {
    box-shadow: 1px 1px 3px #364f6b;
  }
  
  #btn {
    grid-row: 9;
    grid-column: 2 / 4;
    text-align: center;
    margin-bottom: 5%;
  }
  
  button {
    font-family: 'Merriweather Sans', sans-serif;
    color: #393e46;
    transition: border-color .5s;
  }
  
  #submit:hover {
    background-color: #fce38a;
    color: #364f6b;
    box-shadow: 1px 2px 5px #364f6b;
  }
  