{% extends "base.html" %}

{% block content %}
    <div class="grid-container">
      <form id="survey-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="title-description">
          <h1 id="title">Survey Form</h1>
          <p id="description">This is the description of the survey</p>
        </div>
        <!-- <label for="name" id="name-label">Name:</label> -->
        {{ form.name.label }}
        <!--<input type="text" id="name" name="user-name" required
                placeholder="Insert your name"> -->
        {{ form.name(size=32) }}
        <label for="email" id="email-label">Email:</label>
        <input type="email" id="email" name="user-mail" required
                placeholder="Insert your email" minlength="3" maxlength="254">
        <label for="number" id="number-label">Age:</label>
        <input type="number" id="number" name="user-age"
               placeholder="Insert your age" min="3" max="122">
        <div class="options-title">
          <p>Gender:</p>
        </div>
        <div class="gender-options">
          <ul>
            <li>
              <input type="radio" id="choice-1"
                      name="gender-choice" value="male">
              <label for="choice-1">Male</label>
            </li>
            <li>
              <input type="radio" id="choice-2"
                      name="gender-choice" value="female">
              <label for="choice-2">Female</label></li>
            <li>
              <input type="radio" id="choice-3"
                      name="gender-choice" value="neutral">
              <label for="choice-3">Neutral</label></li>
            <li>
              <input type="radio" id="choice-4"
                      name="gender-choice" value="undisclosed">
              <label for="choice-4">No preference</label>
            </li>
          </ul>
        </div>
        <label for="dropdown" id="job-label">Which web development path do you
        most identify yourself with?</label>
        <select id="dropdown" name="job-status">
            <option value="" hidden></option>
            <option value="front">Front End</option>
            <option value="back">Back End</option>
            <option value="full">Full Stack</option>
        </select>
        <div class="options-title">
          <p>Which programming languages do you use?:</p>
        </div>
        <div class="checkbox-options">
          <ul>
            <li>
              <input type="checkbox" id="option-1" name="checkbox-option"
                      value="checkbox-value">
              <label for="javascript">JavaScript</label>
            </li>
            <li>
              <input type="checkbox" id="option-2" name="checkbox-option"
                      value="checkbox-value">
              <label for="python">Python</label>
            </li>
            <li>
              <input type="checkbox" id="csharp" name="checkbox-option"
                      value="checkbox-value">
              <label for="csharp">C#</label>
            </li>
            <li>
              <input type="checkbox" id="java" name="checkbox-option"
                      value="checkbox-value">
              <label for="java">Java</label>
            </li>
            <li>
              <input type="checkbox" id="other" name="checkbox-option"
                      value="checkbox-value">
              <label for="other">Other</label>
            </li>
          </ul>
        </div>
        <div id="comments-box">
          <p>What do you like about web development?</p>
          <label for="comments"></label>
          <textarea name="user-comments" id="comments" cols="30" rows="5" placeholder="Insert your comments here"></textarea>
        </div>
        <div id="btn">
          <!-- <button type="submit" id="submit">Submit</button> -->
          {{ form.submit() }}
        </div>
      </form>
    </div>
{% endblock %}