{% extends "base.html" %}

{% block content %}
    <div class="grid-container">
      
      <form id="survey-form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="title-description">
          <h1 id="title">Survey Form</h1>
          <p id="description">This is the description of the survey</p>
          <p id="flash-message">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          {% endif %}
          {% endwith %}
          </p>
        </div>
        {{ form.name.label }}
        {{ form.name(size=32, placeholder='Insert your name') }}
        {{ form.email.label }}
        {{ form.email(size=32, maxlength=254, minlength=3, 
                      placeholder='Insert your email') }}
        {{ form.age.label }}
        {{ form.age(size=16, min=3, max=122, placeholder='Insert your age') }}
        <div class="options-title">
          <p>{{ form.gender.label }}</p>
        </div>
        <div class="gender-options">  
          <ul>
          {% for gender in form.gender %}
            <li>
              {{ gender }}
              {{ gender.label }}
            </li>
          {% endfor %}
          </ul>
          
        </div>
        {{ form.path.label }}
        {{ form.path }}
        <div class="options-title">
          <p>Which programming languages do you use?:</p>
        </div>
        <div class="checkbox-options">
          <ul>
            <li>
              <input type="checkbox" id="option-1" name="checkbox-option"
                      value="checkbox-value">
              <label for="javascript">JavaScript</label>
            </li>
            <li>
              <input type="checkbox" id="option-2" name="checkbox-option"
                      value="checkbox-value">
              <label for="python">Python</label>
            </li>
            <li>
              <input type="checkbox" id="csharp" name="checkbox-option"
                      value="checkbox-value">
              <label for="csharp">C#</label>
            </li>
            <li>
              <input type="checkbox" id="java" name="checkbox-option"
                      value="checkbox-value">
              <label for="java">Java</label>
            </li>
            <li>
              <input type="checkbox" id="other" name="checkbox-option"
                      value="checkbox-value">
              <label for="other">Other</label>
            </li>
          </ul>
        </div>
        <div id="comments-box">
          <p>What do you like about web development?</p>
          <label for="comments"></label>
          <textarea name="user-comments" id="comments" cols="30" rows="5" placeholder="Insert your comments here"></textarea>
        </div>
        <div id="btn">
          <!-- <button type="submit" id="submit">Submit</button> -->
          {{ form.submit() }}
        </div>
      </form>
    </div>
{% endblock %}